<h2 mat-dialog-title>We found a match!</h2>
<mat-dialog-content class="content">
  <h1>{{ data.matchedDog.name }}</h1>
  <img [src]="data.matchedDog.img">
  <div class="info">
    <div class="breed">Breed: {{ data.matchedDog.breed }}</div>
    <div class="age">Age: {{ data.matchedDog.age }}</div>
    <div class="zip-code">Zip Code: {{ data.matchedDog.zip_code }} </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>No thanks...</button>
  <button mat-flat-button color="accent" [mat-dialog-close]="true">Adopt</button>
</mat-dialog-actions>